## Talk to @botfather and paste your bot token
TELEGRAM_BOT_TOKEN=
## @channel_name or the user id that will receive bot's message
TELEGRAM_CHAT_ID=@codigofaladolive

## Register a new app at https://dev.twitch.tv/dashboard/apps
#  and paste its Client ID here
TWITCH_CLIENT_ID=

## To allow generate TWITCH_OAUTH_ACCESS_TOKEN when the token expires
TWITCH_CLIENT_SECRET=
## (owner slash repository name)
REPO=micalevisk/twitchtv-channel-notifier
## Generate this value here https://github.com/settings/tokens/new?scopes=repo,admin:public_key&description=ttv-channel-notifier
GH_PERSONAL_ACCESS_TOKEN=

## Follow https://dev.twitch.tv/docs/authentication/getting-tokens-oauth#oauth-client-credentials-flow
#  and paste the `acess_token` value here:
TWITCH_OAUTH_ACCESS_TOKEN=
## Name of the target Twitch's channel
TWITCH_CHANNEL=codigofalado

