name: Generate new OAuth Access Token and update the TWITCH_OAUTH_ACCESS_TOKEN repo secret
on:
  # https://help.github.com/en/actions/reference/events-that-trigger-workflows#external-events-repository_dispatch
  repository_dispatch:
    types:
      - webhook_notification
jobs:
  myEvent:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        if: success()
        with:
          node-version: '12.x'
      - name: Cache Node.js modules
        if: success()
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-
      - name: Install NPM dependencies (using the lock file)
        run: npm ci --prod

      - run: |
          NEW_TWITCH_OAUTH_ACCESS_TOKEN="$(IS_GH=true ./generate-twitch-oauth-access-token)"

          cat <<-EOF > .env
          TWITCH_OAUTH_ACCESS_TOKEN=${NEW_TWITCH_OAUTH_ACCESS_TOKEN}
          EOF

          npm run update-repo-secrets --repo="$REPO" --PAT="$GH_PERSONAL_ACCESS_TOKEN"
        env:
          REPO: ${{ github.repository }}
          GH_PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          TWITCH_CLIENT_ID: ${{ secrets.TWITCH_CLIENT_ID }}
          TWITCH_CLIENT_SECRET: ${{ secrets.TWITCH_CLIENT_SECRET }}
